
body, html {
    padding: 0;
    font-family: Arial, Arial, Helvetica, sans-serif;
    margin: 0;
}

body {
    border: 50px solid #ca421d;
    background-color:#ca421d;
}
/*beginning of the top half*/
.pokemon-wrapper, .poke-ball {
    width: 50px;
    height: 50px;
}


.pokeball-container {
    background-color: #ca421d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-container {
    background-color: #ca421d;
    margin: 0;
    color: rgb(255, 255, 255);
}

h1 {
    text-align: center;
    margin: 0;
    padding: 30px;
}

h2 {
    text-align: center;
    margin: 0;
    padding-bottom: 20px;
}
/*end of the top half*/

/*beginning of the selection section*/
.selection-area {
    justify-content: center;
    text-align: center;
    padding: 30px;
    background-color:#ab3d1f;
    position: relative;
    border-radius:8px 8px 0 0;
}

#pokemon-select {
    border-radius: 50px;
    padding: 10px;
    background-color: white;
    transition: 0.2s ease; 
    cursor: pointer; 
    text-align:center;
}

#pokemon-select:hover {
    background-color: rgb(185, 238, 201); 
}

button {
    border-radius: 50px;
    background-color: white;
    transition: 0.2s ease; 
    cursor: pointer; 
    text-align:center;
    margin-left: 10px;
    padding: 10px;
}
button:hover {
    background-color: rgb(185, 238, 201); 
}
/*end of the selection section*/

/*start of the card section*/
#pokemon-info {
    display: none;
    text-align: center;
    padding: 100px;
    height: auto;
    justify-content: center;
    margin: 0 auto;
    margin: 0 auto;
    padding: 50px;
}

  img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }
  
  .card {
    border-radius: 0 0 8px 8px; 
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    background-color: #ccf2a4; 
  }
/*end of the card section*/



/*Media queries for responsiveness*/
  @media (min-width: 300px) {
    #pokemon-name {
        margin: 0;
        text-align:center;
    }
    .button  {
        margin: 10px;
    }

    #pokemon-info {
        text-align: center; 
    }

    #pokemon-select{
        justify-content: center;
        text-align: center;
    }
}
@media (max-width: 768px) { /*especially mobile responsiveness*/
    h1 {
        text-align: center; 
        margin: 10px;
        padding: 0;
    }

    #pokemon-name {
        margin: 0;
        text-align: center;
        align-items: center; /* Center vertically */
    }
    .button  {
        margin: 10px;
    }

    #pokemon-info {
        text-align: center; 
    }

    #pokemon-select{
        justify-content: center;
        text-align: center;
    }
}

@media (min-width: 270px) {
    #pokemon-name {
        text-align: center;
        display: flex;
        justify-content: center; 
        margin: 10px;
    }
}
