
body, html {
    padding: 0;
    font-family: Arial, sans-serif;
    overflow:hidden;
    margin: 0;

}

body {
    border: 50px solid #ca421d;
    background-color:#ca421d;
}

.pokemon-wrapper, .poke-ball {
    width: 50px;
    height: 50px;
}


.pokeball-container {
    background-color: #ca421d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-container {
    background-color: #ca421d;
    margin: 0;
    color: rgb(255, 255, 255);
}

h1 {
    text-align: center;
    margin: 0;
    padding: 30px;
}

h2 {
    text-align: center;
    margin: 0;
    padding-bottom: 20px;
}

.selection-area {
    justify-content: center;
    text-align: center;
    padding: 30px;
    background-color:#ab3d1f;
    position: relative;
    border-radius:8px 8px 0 0;
}

button {
    border-radius: 20px;
    background-color: white;
    transition: 0.2s ease; 
    cursor: pointer; 
}

button:hover {
    background-color: rgb(185, 238, 201); 
}

#pokemon-info {
    display: none;
    text-align: center;
    padding: 100px;
    height: auto;
    justify-content: center;
    margin: 0 auto;
    padding: 2px 16px;
}

#pokemon-info {
    margin: 0 auto;
    padding: 50px;
  }
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
  .card {
    border: 1px solid #ccc; 
    border-radius: 0 0 8px 8px; 
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    background-color: #ccf2a4; 
  }
  

  /* Example media query for responsiveness */
  @media only screen and (max-width: 600px) {
    #pokemon-info {
      padding: 10px;
    }
  }

